.gradle
/local.properties
/.idea
Gemfile.lock
.DS_Store
.bundle
*.iml
build
captures
/Demo/.idea/codeStyles/Project.xml
/Demo/.idea/.gitignore
/Demo/.idea/gradle.xml
/Demo/.idea/misc.xml
/Demo/.idea/modules.xml
/Demo/.idea/vcs.xml
/Demo/local.properties
